{% extends "admin/layout.twig" %}

{% set nav = 3 %}
{% block content %}

        <div class="row">
            <div class="col-xl-6 d-flex">
                <a href="/admin/pronos/add" class="mx-auto btn btn-info btn-thin btn-pad btn-square btn-shadow btn-lg btn-upper mt-4">Rédiger un ticket</a>
            </div>
            <div class="col-xl-6 d-flex">
                <a href="/admin/pronos/list" class="mx-auto btn btn-info btn-thin btn-pad btn-square btn-shadow btn-lg btn-upper mt-4">Voir tous les tickets</a>
            </div>
        </div>

{% endblock %}
