{% extends "admin/layout.twig" %}

{% set nav = 0 %}
{% block content %}

    <div class="row">
        <div class="col-xl-3">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center">
                            <h5 class="card-title text-uppercase text-muted mb-0">Membres</h5>
                            <span class="h2 font-weight-bold mb-0">112</span>
                        </div>
                        <div class="col-auto d-flex">
                            <div class="bg-danger text-white rounded-circle shadow d-flex m-auto" style="width: 50px; height: 50px">
                                <i class="fa-solid fa-users m-auto"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center">
                            <h5 class="card-title text-uppercase text-muted mb-0">Abonnés</h5>
                            <span class="h2 font-weight-bold mb-0">15</span>
                        </div>
                        <div class="col-auto d-flex">
                            <div class="bg-warning text-white rounded-circle shadow d-flex m-auto" style="width: 50px; height: 50px">
                                <i class="fa-solid fa-rocket m-auto"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center">
                            <h5 class="card-title text-uppercase text-muted mb-0">Pronostics</h5>
                            <span class="h2 font-weight-bold mb-0">521</span>
                        </div>
                        <div class="col-auto d-flex">
                            <div class="bg-success text-white rounded-circle shadow d-flex m-auto" style="width: 50px; height: 50px">
                                <i class="fa-solid fa-chart-line m-auto"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center">
                            <h5 class="card-title text-uppercase text-muted mb-0">Bénéfices</h5>
                            <span class="h2 font-weight-bold mb-0">1250 €</span>
                        </div>
                        <div class="col-auto d-flex">
                            <div class="bg-info text-white rounded-circle shadow d-flex m-auto" style="width: 50px; height: 50px">
                                <i class="fa-solid fa-money-bill m-auto"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}