<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Design template</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">

</head>
<body style="background: #fff">



<div class="row ms-2 me-2">
    <div class="d-flex justify-content-between mt-5">
        <a href="#" class="btn btn-primary">btn-primary</a>
        <a href="#" class="btn btn-secondary">btn-secondary</a>
        <a href="#" class="btn btn-success">btn-success</a>
        <a href="#" class="btn btn-danger">btn-danger</a>
        <a href="#" class="btn btn-warning">btn-warning</a>
        <a href="#" class="btn btn-info">btn-info</a>
        <a href="#" class="btn btn-light">btn-light</a>
        <a href="#" class="btn btn-dark">btn-dark</a>
    </div>
    <div class="d-flex justify-content-between mt-5">
        <a href="#" class="btn btn-primary btn-pad">btn-pad</a>
        <a href="#" class="btn btn-secondary btn-pad">btn-pad</a>
        <a href="#" class="btn btn-success btn-pad">btn-pad</a>
        <a href="#" class="btn btn-danger btn-pad">btn-pad</a>
        <a href="#" class="btn btn-warning btn-pad">btn-pad</a>
        <a href="#" class="btn btn-info btn-pad">btn-pad</a>
        <a href="#" class="btn btn-light btn-pad">btn-pad</a>
        <a href="#" class="btn btn-dark btn-pad">btn-pad</a>
    </div>
    <div class="d-flex justify-content-between mt-5">
        <a href="#" class="btn btn-primary btn-lg">btn-lg</a>
        <a href="#" class="btn btn-secondary btn-lg">btn-lg</a>
        <a href="#" class="btn btn-success btn-lg">btn-lg</a>
        <a href="#" class="btn btn-danger btn-lg">btn-lg</a>
        <a href="#" class="btn btn-warning btn-lg">btn-lg</a>
        <a href="#" class="btn btn-info btn-lg">btn-lg</a>
        <a href="#" class="btn btn-light btn-lg">btn-lg</a>
        <a href="#" class="btn btn-dark btn-lg">btn-lg</a>
    </div>
    <div class="d-flex justify-content-between mt-5">
        <a href="#" class="btn btn-primary btn-bold">btn-bold</a>
        <a href="#" class="btn btn-secondary btn-bold">btn-bold</a>
        <a href="#" class="btn btn-success btn-bold">btn-bold</a>
        <a href="#" class="btn btn-danger btn-bold">btn-bold</a>
        <a href="#" class="btn btn-warning btn-bold">btn-bold</a>
        <a href="#" class="btn btn-info btn-bold">btn-bold</a>
        <a href="#" class="btn btn-light btn-bold">btn-bold</a>
        <a href="#" class="btn btn-dark btn-bold">btn-bold</a>
    </div>
    <div class="d-flex justify-content-between mt-5">
        <a href="#" class="btn btn-primary btn-thin">btn-thin</a>
        <a href="#" class="btn btn-secondary btn-thin">btn-thin</a>
        <a href="#" class="btn btn-success btn-thin">btn-thin</a>
        <a href="#" class="btn btn-danger btn-thin">btn-thin</a>
        <a href="#" class="btn btn-warning btn-thin">btn-thin</a>
        <a href="#" class="btn btn-info btn-thin">btn-thin</a>
        <a href="#" class="btn btn-light btn-thin">btn-thin</a>
        <a href="#" class="btn btn-dark btn-thin">btn-thin</a>
    </div>
    <div class="d-flex justify-content-between mt-5">
        <a href="#" class="btn btn-primary btn-upper">btn-upper</a>
        <a href="#" class="btn btn-secondary btn-upper">btn-upper</a>
        <a href="#" class="btn btn-success btn-upper">btn-upper</a>
        <a href="#" class="btn btn-danger btn-upper">btn-upper</a>
        <a href="#" class="btn btn-warning btn-upper">btn-upper</a>
        <a href="#" class="btn btn-info btn-upper">btn-upper</a>
        <a href="#" class="btn btn-light btn-upper">btn-upper</a>
        <a href="#" class="btn btn-dark btn-upper">btn-upper</a>
    </div>
    <div class="d-flex justify-content-between mt-5">
        <a href="#" class="btn btn-primary btn-upper btn-pad btn-thin btn-shadow btn-sm ">btn-sm</a>
        <a href="#" class="btn btn-secondary btn-upper btn-pad btn-thin btn-shadow btn-sm ">btn-sm</a>
        <a href="#" class="btn btn-success btn-upper btn-pad btn-thin btn-shadow btn-sm ">btn-sm</a>
        <a href="#" class="btn btn-danger btn-upper btn-pad btn-thin btn-shadow btn-sm ">btn-sm</a>
        <a href="#" class="btn btn-warning btn-upper btn-pad btn-thin btn-shadow btn-sm ">btn-sm</a>
        <a href="#" class="btn btn-info btn-upper btn-pad btn-thin btn-shadow btn-sm ">btn-sm</a>
        <a href="#" class="btn btn-light btn-upper btn-pad btn-thin btn-shadow btn-sm ">btn-sm</a>
        <a href="#" class="btn btn-dark btn-upper btn-pad btn-thin btn-shadow btn-sm ">btn-sm</a>
    </div>
    <div class="d-flex justify-content-between mt-5">
        <a href="#" class="btn btn-primary btn-upper btn-pad btn-thin btn-shadow">btn-shadow</a>
        <a href="#" class="btn btn-secondary btn-upper btn-pad btn-thin btn-shadow">btn-shadow</a>
        <a href="#" class="btn btn-success btn-upper btn-pad btn-thin btn-shadow">btn-shadow</a>
        <a href="#" class="btn btn-danger btn-upper btn-pad btn-thin btn-shadow">btn-shadow</a>
        <a href="#" class="btn btn-warning btn-upper btn-pad btn-thin btn-shadow">btn-shadow</a>
        <a href="#" class="btn btn-info btn-upper btn-pad btn-thin btn-shadow">btn-shadow</a>
        <a href="#" class="btn btn-light btn-upper btn-pad btn-thin btn-shadow">btn-shadow</a>
        <a href="#" class="btn btn-dark btn-upper btn-pad btn-thin btn-shadow">btn-shadow</a>
    </div>
    <div class="d-flex justify-content-between mt-5" style="margin-bottom: 100px">
        <a href="#" class="btn btn-primary btn-upper btn-pad btn-thin">prefered</a>
        <a href="#" class="btn btn-secondary btn-upper btn-pad btn-thin">prefered</a>
        <a href="#" class="btn btn-success btn-upper btn-pad btn-thin">prefered</a>
        <a href="#" class="btn btn-danger btn-upper btn-pad btn-thin">prefered</a>
        <a href="#" class="btn btn-warning btn-upper btn-pad btn-thin">prefered</a>
        <a href="#" class="btn btn-info btn-upper btn-pad btn-thin">prefered</a>
        <a href="#" class="btn btn-light btn-upper btn-pad btn-thin">prefered</a>
        <a href="#" class="btn btn-dark btn-upper btn-pad btn-thin">prefered</a>
    </div>
</div>


<style>
    .btn {
        border-radius: 25px;
    }
    .btn:hover,
    .btn:active,
    .btn:focus{
        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
    }
    .btn-pad {
        padding-left: 40px;
        padding-right: 40px;
    }
    .btn-lg {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .btn-sm {
        padding: 2px 16px;
        font-size: 10px;
    }
    .btn-bold {
        font-weight: bolder;
    }
    .btn-thin {
        font-weight: lighter;
    }
    .btn-upper {
        text-transform: uppercase;
    }
    .btn-shadow {
        box-shadow: 2px 2px 4px 0px #34495e36;
    }
    .btn-shadow:hover,
    .btn-shadow:active,
    .btn-shadow:focus{
        box-shadow: 2px 2px 4px 0px #34495e4f;
    }
    .btn-primary {
        color: #fff;
        background-color: #3498db;
        border-color: #2a87c5;
    }
    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:focus {
        color: #fff;
        background-color: #2980b9;
        border-color: #236fa1;
    }
    .btn-secondary {
        color: #fff;
        background-color: #7f8c8d;
        border-color: #6b7778;
    }
    .btn-secondary:hover,
    .btn-secondary:active,
    .btn-secondary:focus {
        color: #fff;
        background-color: #95a5a6;
        border-color: #95a5a6;
    }
    .btn-success {
        color: #fff;
        background-color: #2ecc71;
        border-color: #25b562;
    }
    .btn-success:hover,
    .btn-success:active,
    .btn-success:focus {
        color: #fff;
        background-color: #27ae60;
        border-color: #259f58;
    }
    .btn-danger {
        color: #fff;
        background-color: #e74c3c;
        border-color: #cb4335;
    }
    .btn-danger:hover,
    .btn-danger:active,
    .btn-danger:focus {
        color: #fff;
        background-color: #c0392b;
        border-color: #9f2e23;
    }
    .btn-danger:focus {
        box-shadow: 0 0 0 0.25rem rgb(192 57 43 / 51%);
    }
    .btn-warning {
        color: #ffffff;
        background-color: #f1c40f;
        border-color: #f1c40f;
    }
    .btn-warning:hover,
    .btn-warning:active,
    .btn-warning:focus {
        color: #ffffff;
        background-color: #e5b700;
        border-color: #e5b700;
    }
    .btn-warning:focus {
        box-shadow: 0 0 0 0.25rem rgb(229 183 0 / 45%);
    }
    .btn-info {
        color: #ffffff;
        background-color: #9b59b6;
        border-color: #8b4ea5;
    }
    .btn-info:hover,
    .btn-info:active,
    .btn-info:focus {
        color: #ffffff;
        background-color: #8e44ad;
        border-color: #7e3a9a;
    }
    .btn-info:focus,
    .btn-info:focus-within,
    .btn-info:focus-visible {
        box-shadow: 0 0 0 0.25rem rgb(142 68 173 / 45%);
    }
    .btn-light {
        color: #6a6a6a;
        background-color: #ecf0f1;
        border-color: #dde2e3;
    }
    .btn-light:hover,
    .btn-light:active,
    .btn-light:focus {
        color: #6a6a6a;
        background-color: #dee0e1;
        border-color: #ced1d3;
    }
    .btn-dark {
        color: #fff;
        background-color: #34495e;
        border-color: #283848;
    }
    .btn-dark:hover,
    .btn-dark:active,
    .btn-dark:focus {
        color: #fff;
        background-color: #2c3e50;
        border-color: #202d3a;
    }
</style>

</body>