{% extends "layout.twig" %}

{% block content %}


    <section>
        <div class="row">
            <div class="text-center m-auto">
                <h2 class="m-0" style="font-size: 72px">OOPS !</h2>
                <img style="margin: 20px 0px;" src="/assets/img/error404.png">
                <h4>Erreur 404 : Cette page est introuvable</h4>
                <a href="/" class="btn btn-success btn-upper btn-lg btn-thin btn-pad mt-4">Retour à l'accueil</a>
            </div>
        </div>
    </section>

{% endblock %}
