<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>NA2S PRONO</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">

</head>
<body>


<div class="container">
    <div class="row">
        <div class="mb-5 mt-5 d-flex flex-column col-12 col-md-6 col-lg-5 col-xl-4">

    <a href="/" class="navbar-brand mt-5">
        <img src="/assets/img/logo.png">
        <div class="m-auto">
            <h4>Na2sProno</h4>
            <p>Pronostiqueur français</p>
        </div>
    </a>

    <h4 class="login-title">Mot de passé oublié</h4>

    <hr style="margin: 20px 0px; background-color: white; height: 2px">

    <div id="alert" style="font-size: 12px"></div>

    <form action="/login" >
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" id="email">
        </div>
        <button type="button" class="btn btn-success btn-upper btn-thin btn-pad" onclick="sendPassword()">Envoyer</button>
    </form>
    <div class="d-flex">
        <a href="/" class="fst-italic btn btn-secondary btn-sm">Retour au site</a>
        <a href="/login" class="password-forgot fst-italic ms-auto text-light">Se connecter</a>
    </div>
</div>
    </div>
</div>

<footer class="mt-auto">
    <div class="container d-flex flex-column flex-sm-row">
        <p class="mx-auto mx-sm-0 mb-3 mb-sm-0 ">Tous droits réservés © 2022 <span>Na2sProno</span></p>
        <p class="mx-auto mx-sm-0 ms-sm-auto">Développé par <a href="https://wogel123.fr">wogel123</a></p>
    </div>
</footer>

<style>
    .navbar-brand {
        padding: 10px;
        background: #2c3e50;
        border-radius: 6px;
        margin: auto;
    }
    .navbar-brand h4 {
        color: white;
    }
    .login-title {
        margin: 50px 0 10px;
        font-weight: 900;
        text-transform: uppercase;
        color: white;
    }
    .form-label {
        font-size: 12px;
        font-weight: 900;
        text-transform: uppercase;
        color: #adacac;
    }
    .form-control {
        background-color: #e3e3e3;
        border: 2px solid #abaeb1;
    }
    button {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 26px;
    }
    .password-forgot {
        font-size: 10px;
    }
</style>

<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/main.js"></script>
<script>
    function sendPassword() {
        let email = $('#email').val()
        if (email === "") {
            $('#alert').html('<div class="alert alert-danger">Vous devez rentrer une adresse email</div>')
        } else {
            $.ajax({
                type: "POST",
                url: "/api/auth/sendPasswordReset",
                data: {
                    "email": email
                },
                dataType: "JSON",
                success: function (data) {
                    if (data.error) {
                        $('#alert').html('<div class="alert alert-danger">'+data.message+'</div>')
                    } else {
                        $('#alert').html('<div class="alert alert-success">'+data.message+'</div>')
                    }
                },
                beforeSend: function () {
                    $('#alert').html("<div class='alert alert-secondary'>Requête en cours de traitement <img style='margin-left: 10px' src='/assets/img/ajax-loader.gif'></div>")
                }
            })
        }
    }
</script>
</body>
</html>