{% extends "layout.twig" %}

{% block content %}


    <section>
        <div class="d-flex home">
            <div>
                <h4>Na2SProno c'est quoi ?</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor fringilla volutpat.
                    Donec ut nunc ut felis fermentum molestie lacinia quis lacus. Proin porta, erat vitae consectetur
                    dignissim, nulla enim cursus felis, eu tristique leo turpis vitae justo. Duis non mauris tortor.
                    Etiam finibus eleifend justo, ut rhoncus neque luctus quis. Maecenas vel sapien vel magna consectetur
                    luctus. Donec nec tincidunt eros. Cras fringilla felis in dolor pellentesque, vitae fermentum
                    nunc ullamcorper. Fusce vehicula rhoncus facilisis. In porttitor, nunc ut dapibus cursus, orci
                    nulla consectetur enim, in pretium odio urna vitae massa. In et dolor eget leo venenatis volutpat
                    id sit amet mauris.
                </p>
            </div>
            <img src="https://mkm-marcomms.com/wp-content/uploads/2018/06/Imagine-Communications-True-Vision-June-2018.jpg" class="d-none d-lg-block">
        </div>
        <hr>
        <h4 class="home-stats">Na2sProno en quelques chiffres</h4>
        <div class="row home-stat">
            <div class="col-lg-4">
                <div class="home-stats-icon" style="padding: 25px 34px;">
                    <i class="fa-solid fa-trophy"></i>
                </div>
                <h2>95% de taux de réussite</h2>
            </div>
            <div class="col-lg-4">
                <div class="home-stats-icon" style="padding: 25px 36px;">
                    <i class="fa-solid fa-chart-line"></i>
                </div>
                <h2>Evolution croissante</h2>
            </div>
            <div class="col-lg-4">
                <div class="home-stats-icon" style="padding: 25px 34px;">
                    <i class="fa-solid fa-money-bill-wave"></i>
                </div>
                <h2>Plus de 200% de bénéfices</h2>
            </div>
        </div>
        <div class="join-stats">
            <h3 class="d-none d-lg-block">Alors qu'attends-tu pour nous rejoindre ?</h3>
            <a href="/register" class="btn btn-warning btn-thin btn-upper btn-pad mx-auto me-lg-auto">Deviens membre dès maintenant !</a>
        </div>
        <hr>
        <div class="row flex-column flex-lg-row">
            <div class="col-12 col-lg-4">
                <div class="card">
                    <div class="card-header py-3">
                        <h4>Abonnement VIP</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title">15€<small>/mois</small>
                        </h1>
                        <ul>
                            <li>Des pronos gagnants tous les jours</li>
                            <li>Pronos spéciaux lors de grands évenements</li>
                            <li>Analyse et conseils personnalisés</li>
                            <li>Suivis et boost personnel</li><li>Rejoins une vraie communauté axé football</li>
                        </ul>
                        <a href="/register" class="btn btn-warning btn-bold btn-upper btn-lg mt-2">Deviens membre</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="home-reviews">
                    <h4>Que disent nos membres ?</h4>
                    <ul>
                        <li class="d-flex review left">
                            <img src="/assets/img/user.png">
                            <div class="home-review">
                                <p>Pronostiqueur très fiable et hyper proche de sa communauté. Le benéfice est bien présent !</p>
                                <small>
                                    Alexandro14
                                    <span>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </span>
                                </small>
                            </div>
                        </li>
                        <li class="d-flex review right">
                            <img src="/assets/img/user.png">
                            <div class="home-review">
                                <p>Pronostiqueur super et gentil cool fiable et hyper proche de sa communauté. Le benéfice est bien présent ! Il faut vous abonner à Na2sPronos !</p>
                                <small>
                                    Rotulator425DZ
                                    <span>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </span>
                                </small>
                            </div>
                        </li>
                        <li class="d-flex review left">
                            <img src="/assets/img/user.png">
                            <div class="home-review">
                                <p>Pronostiqueur très fiable et hyper proche de sa communauté. Le benéfice est bien présent !</p>
                                <small>
                                    MimouneChaCha
                                    <span>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </span>
                                </small>
                            </div>
                        </li>
                        <li class="d-flex review right">
                            <img src="/assets/img/user.png">
                            <div class="home-review">
                                <p>Pronostiqueur super et gentil cool fiable et hyper proche de sa communauté. Le benéfice est bien présent ! Il faut vous abonner à Na2sPronos !</p>
                                <small>
                                    XxDAMIEN24
                                    <span>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </span>
                                </small>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
