<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>NA2S PRONO</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/main.js"></script>

</head>
<body>

<div class="container">
    <div class="row">
        <div class="mb-5 mt-5 d-flex flex-column col-12 col-md-6 col-lg-5 col-xl-4">

    <a href="/" class="navbar-brand mt-5">
        <img src="/assets/img/logo.png">
        <div class="m-auto">
            <h4>Na2sProno</h4>
            <p>Pronostiqueur français</p>
        </div>
    </a>

    <h4 class="login-title">Réinitialiser votre mot de passe</h4>

    <hr style="margin: 20px 0px; background-color: white; height: 2px">
{{ test }}

    {% if expired %}
        <div class="alert alert-danger text-center">Votre lien de réinitialisation a expiré. Vous devez redemander un nouveau lien afin de réinitialiser votre mot de passe.</div>
        <a href="/forget-password" class="mt-2 btn btn-danger btn-sm btn-pad btn-upper btn-thin mx-auto" style="width: fit-content">Effectuer une nouvelle demande</a>
    {% else %}
    <div id="alert" style="font-size: 12px"></div>

    <form id="reset">
        <div class="mb-3">
            <label class="form-label">Mot de passe</label>
            <input type="password" class="form-control" id="password">
        </div>
        <div class="mb-3">
            <label class="form-label">Confirmer le mot de passe</label>
            <input type="password" class="form-control" id="passwordConfirm">
        </div>
        <button type="button" class="btn btn-success btn-upper btn-thin btn-pad" onclick="resetPassword()">Connexion</button>
    </form>
    <div class="d-flex">
        <a href="/" class="fst-italic btn btn-secondary btn-sm">Retour au site</a>
        <a href="/login" class="password-forgot fst-italic ms-auto text-light">Se connecter</a>
    </div>
    <script>
        function resetPassword() {
            let password = $('#password').val(),
                passwordConfirm = $('#passwordConfirm').val(),
                userid = $_GET('userid'),
                token = $_GET('token')

            if (password === "" && passwordConfirm === "") {
                $('#alert').html('<div class="alert alert-danger">Vous devez rentrer un nouveau mot de passe</div>')
            } else {
                $.ajax({
                    type: "POST",
                    url: "/api/auth/resetPassword",
                    data: {
                        "password": password,
                        "passwordConfirm": passwordConfirm,
                        "userid": userid,
                        "token": token
                    },
                    dataType: "JSON",
                    success: function (data) {
                        if (data.error) {
                            $('#alert').html('<div class="alert alert-danger">'+data.message+'</div>')
                        } else {
                            $('#alert').html('<div class="alert alert-success">'+data.message+'</div>')
                        }
                    }
                })
            }
        }
    </script>
    {% endif %}
</div>
    </div>
</div>

<footer class="mt-auto">
    <div class="container d-flex flex-column flex-sm-row">
        <p class="mx-auto mx-sm-0 mb-3 mb-sm-0 ">Tous droits réservés © 2022 <span>Na2sProno</span></p>
        <p class="mx-auto mx-sm-0 ms-sm-auto">Développé par <a href="https://wogel123.fr">wogel123</a></p>
    </div>
</footer>

<style>
    .navbar-brand {
        padding: 10px;
        background: #2c3e50;
        border-radius: 6px;
        margin: auto;
    }
    .navbar-brand h4 {
        color: white;
    }
    .login-title {
        margin: 50px 0 10px;
        font-weight: 900;
        text-transform: uppercase;
        color: white;
    }
    .form-label {
        font-size: 12px;
        font-weight: 900;
        text-transform: uppercase;
        color: #adacac;
    }
    .form-control {
        background-color: #e3e3e3;
        border: 2px solid #abaeb1;
    }
    button {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 26px;
    }
    .password-forgot {
        font-size: 10px;
    }
</style>


</body>
</html>